jdev/SoapAPICallExternalExample/ExposeWebService/Resources/RestServiceReferenceExternalSys.wsdl

<wsdl:definitions name="RestServiceReferenceExternalSys" targetNamespace="http://xmlns.oracle.com/SoapAPICallExternalExample/ExposeWebService/RestServiceReferenceExternalSys" xmlns:tns="http://xmlns.oracle.com/SoapAPICallExternalExample/ExposeWebService/RestServiceReferenceExternalSys" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="RestServiceReferenceExternalSys">
        <plnk:role name="RestServiceReferenceExternalSysProvider" portType="tns:RestServiceReferenceExternalSys_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="../../ExternalSystemHandl/Resources/es_desc_soap_req.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="../../ExternalSystemHandl/Resources/ex_desc_resp.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="ConcatOprRef1_inputMessage">
        <wsdl:part name="request" element="minhdc-root"/>
    </wsdl:message>
    <wsdl:message name="ConcatOprRef1_outputMessage">
        <wsdl:part name="reply" element="final-str"/>
    </wsdl:message>
    <wsdl:message name="ConcatOprRef_inputMessage">
        <wsdl:part name="request" element="minhdc-root"/>
    </wsdl:message>
    <wsdl:message name="ConcatOprRef_outputMessage">
        <wsdl:part name="reply" element="final-str"/>
    </wsdl:message>
    <wsdl:message name="FinalOpr_inputMessage">
        <wsdl:part name="request" element="minhdc-root"/>
    </wsdl:message>
    <wsdl:message name="FinalOpr_outputMessage">
        <wsdl:part name="reply" element="final-str"/>
    </wsdl:message>
    <wsdl:portType name="RestServiceReferenceExternalSys_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConcatOprRef1">
            <wsdl:input message="tns:ConcatOprRef1_inputMessage"/>
            <wsdl:output message="tns:ConcatOprRef1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConcatOprRef">
            <wsdl:input message="tns:ConcatOprRef_inputMessage"/>
            <wsdl:output message="tns:ConcatOprRef_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="FinalOpr">
            <wsdl:input message="tns:FinalOpr_inputMessage"/>
            <wsdl:output message="tns:FinalOpr_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestServiceReferenceExternalSys_ptt-binding" type="tns:RestServiceReferenceExternalSys_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConcatOprRef1">
            <soap:operation soapAction="ConcatOprRef1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConcatOprRef">
            <soap:operation soapAction="ConcatOprRef"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FinalOpr">
            <soap:operation soapAction="FinalOpr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>