jdev/CallExternalServiceApplication/PublisherServiceProject/Resources/ConsumerReference.wsdl

<wsdl:definitions name="ConsumerReference" targetNamespace="http://xmlns.oracle.com/CallExternalServiceApplication/PublisherServiceProject/ConsumerReference" xmlns:tns="http://xmlns.oracle.com/CallExternalServiceApplication/PublisherServiceProject/ConsumerReference" xmlns:inp1="http://TargetNamespace.com/SumService_SumOperation_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ConsumerReference">
        <plnk:role name="ConsumerReferenceProvider" portType="tns:ConsumerReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/SumService_SumOperation_response" schemaLocation="../nxsd_schema1.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/CallExternalServiceApplication/PublisherServiceProject/ConsumerReference" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="SumCalOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="SumCalOperation_inputMessage">
        <wsdl:part name="request" element="tns:SumCalOperation_params"/>
    </wsdl:message>
    <wsdl:message name="SumCalOperation_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerReference_ptt">
        <wsdl:operation name="SumCalOperation">
            <wsdl:input message="tns:SumCalOperation_inputMessage"/>
            <wsdl:output message="tns:SumCalOperation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsumerReference_ptt-binding" type="tns:ConsumerReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SumCalOperation">
            <soap:operation soapAction="SumCalOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>