jdev/SoapAPICallExternalExample/ExternalSystemHandl/Resources/es_desc_soap_req.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:encoding="UTF-8">
   <xsd:element name="minhdc-root">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="seq_char1" type="xsd:integer"/>
            <xsd:element name="seq_char2" type="xsd:integer"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>