jdev/BPELExampleWithSOAPApp/APICallExternalAPI/SOA/WSDLs/CallExternalAPIFromSoaSys.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="CallExternalAPIFromSoaSys"
     targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/APICallExternalAPI/CallExternalAPIFromSoaSys"
     xmlns:tns="http://xmlns.oracle.com/BPELExampleWithSOAPApp/APICallExternalAPI/CallExternalAPIFromSoaSys"
     xmlns:inp1="http://TargetNamespace.com/CallExternalAPIFromSoaSys_SUMExternalOperation_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="CallExternalAPIFromSoaSys">
        <plnk:role name="CallExternalAPIFromSoaSysProvider" portType="tns:CallExternalAPIFromSoaSys_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/CallExternalAPIFromSoaSys_SUMExternalOperation_response"
                 schemaLocation="../Schemas/desc_resp_externalapi.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/APICallExternalAPI/CallExternalAPIFromSoaSys"
             elementFormDefault="qualified">
            <element name="SUMExternalOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="SUMExternalOperation_inputMessage">
        <wsdl:part name="request" element="tns:SUMExternalOperation_params"/>
    </wsdl:message>
    <wsdl:message name="SUMExternalOperation_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="CallExternalAPIFromSoaSys_ptt">
        <wsdl:operation name="SUMExternalOperation">
            <wsdl:input message="tns:SUMExternalOperation_inputMessage"/>
            <wsdl:output message="tns:SUMExternalOperation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
