jdev/Case3part2App/Case3Part2Project/SOA/WSDLs/RestServiceCase3Part2.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="RestServiceCase3Part2"
     targetNamespace="http://xmlns.oracle.com/Case3part2App/Case3Part2Project/RestServiceCase3Part2"
     xmlns:tns="http://xmlns.oracle.com/Case3part2App/Case3Part2Project/RestServiceCase3Part2"
     xmlns:inp1="http://TargetNamespace.com/RestServiceCase3Part2_SumOper_request"
     xmlns:inp2="http://TargetNamespace.com/RestServiceCase3Part2_SumOper_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="RestServiceCase3Part2">
        <plnk:role name="RestServiceCase3Part2Provider" portType="tns:RestServiceCase3Part2_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceCase3Part2_SumOper_request"
                 schemaLocation="../Schemas/case3prt2_restservice_sumopr_req.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceCase3Part2_SumOper_response"
                 schemaLocation="../Schemas/case3part2_restservice_sumopr_resp.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/Case3part2App/Case3Part2Project/RestServiceCase3Part2"
             elementFormDefault="qualified">
            <element name="DoubleOpr_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="SumOper_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="SumOper_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="DoubleOpr_inputMessage">
        <wsdl:part name="request" element="tns:DoubleOpr_params"/>
    </wsdl:message>
    <wsdl:message name="DoubleOpr_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="RestServiceCase3Part2_ptt">
        <wsdl:operation name="SumOper">
            <wsdl:input message="tns:SumOper_inputMessage"/>
            <wsdl:output message="tns:SumOper_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DoubleOpr">
            <wsdl:input message="tns:DoubleOpr_inputMessage"/>
            <wsdl:output message="tns:DoubleOpr_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
