jdev/TempApp/TempProject/Resources/RestService.wsdl

<wsdl:definitions name="RestService" targetNamespace="http://xmlns.oracle.com/TempApp/TempProject/RestService" xmlns:tns="http://xmlns.oracle.com/TempApp/TempProject/RestService" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="RestService">
        <plnk:role name="RestServiceProvider" portType="tns:RestService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema targetNamespace="http://xmlns.oracle.com/TempApp/TempProject/RestService" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="TestOperation1_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="TestOperation1_inputMessage">
        <wsdl:part name="request" element="tns:TestOperation1_params"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="RestService_ptt">
        <wsdl:operation name="TestOperation1">
            <wsdl:input message="tns:TestOperation1_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestService_ptt-binding" type="tns:RestService_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestOperation1">
            <soap:operation soapAction="TestOperation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>