jdev/TempApp/TempProject/Resources/RestReference.wsdl

<wsdl:definitions name="RestReference" targetNamespace="http://xmlns.oracle.com/TempApp/TempProject/RestReference" xmlns:tns="http://xmlns.oracle.com/TempApp/TempProject/RestReference" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="RestReference">
        <plnk:role name="RestReferenceProvider" portType="tns:RestReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema targetNamespace="http://xmlns.oracle.com/TempApp/TempProject/RestReference" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="TestRefOperation1_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="TestRefOperation1_inputMessage">
        <wsdl:part name="request" element="tns:TestRefOperation1_params"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="RestReference_ptt">
        <wsdl:operation name="TestRefOperation1">
            <wsdl:input message="tns:TestRefOperation1_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestReference_ptt-binding" type="tns:RestReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestRefOperation1">
            <soap:operation soapAction="TestRefOperation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>