jdev/UserDataOSB/GetUserDataProject/Resources/AdapterDbUserData.wsdl

<wsdl:definitions
     name="AdapterDbUserData"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/UserDataOSB/GetUserDataProject/AdapterDbUserData"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/UserDataOSB/GetUserDataProject/AdapterDbUserData"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="AdapterDbUserData_plt" >
    <plt:role name="AdapterDbUserData_role" >
      <plt:portType name="tns:AdapterDbUserData_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData" schemaLocation="AdapterDbUserData_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="AdapterDbUserDataSelect_inputParameters">
        <wsdl:part name="AdapterDbUserDataSelect_inputParameters" element="top:AdapterDbUserDataSelectInputParameters"/>
    </wsdl:message>
    <wsdl:message name="UserdataCollection_msg">
        <wsdl:part name="UserdataCollection" element="top:UserdataCollection"/>
    </wsdl:message>
    <wsdl:portType name="AdapterDbUserData_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:UserdataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:UserdataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:UserdataCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="AdapterDbUserDataSelect">
            <wsdl:input message="tns:AdapterDbUserDataSelect_inputParameters"/>
            <wsdl:output message="tns:UserdataCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
