jdev/UserDataOSB/GetUserDataProject/Resources/RestService_2.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestService_2">RestService_2</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/UserDataOSB/GetUserDataProject/AdapterDbUserData" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData" schemaLocation="AdapterDbUserData_table.xsd"/>
      </schema>
   </grammars>
   <resources>
      <resource path="/insert">
         <method name="PUT" soa:wsdlOperation="insert">
            <request>
               <representation mediaType="application/json" element="cns:UserdataCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData"/>
            </request>
            <response status="202"/>
         </method>
      </resource>
      <resource path="/select">
         <method name="GET" soa:wsdlOperation="AdapterDbUserDataSelect">
            <request soa:paramElement="pns:AdapterDbUserDataSelectInputParameters" xmlns:pns="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData"/>
            <response status="200">
               <representation mediaType="application/xml" element="cns:UserdataCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData"/>
            </response>
         </method>
      </resource>
      <resource path="/delete">
         <method name="PUT" soa:wsdlOperation="delete">
            <request>
               <representation mediaType="application/json" element="cns:UserdataCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData"/>
            </request>
            <response status="202"/>
         </method>
      </resource>
      <resource path="/update">
         <method name="PUT" soa:wsdlOperation="update">
            <request>
               <representation mediaType="application/json" element="cns:UserdataCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/AdapterDbUserData"/>
            </request>
            <response status="202"/>
         </method>
      </resource>
   </resources>
</application>
