jdev/FristAppOSB/ConsumerApiRestProjectFinal2/Resources/ConsumerReferenceRest.wsdl

<wsdl:definitions name="ConsumerReferenceRest" targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest" xmlns:tns="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest" xmlns:inp1="http://TargetNamespace.com/SumService_SumOperation_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ConsumerReferenceRest">
        <plnk:role name="ConsumerReferenceRestProvider" portType="tns:ConsumerReferenceRest_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/SumService_SumOperation_response" schemaLocation="../../FristAppESB/Resources/nxsd_schema1.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opr1_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="SumOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="opr1_inputMessage">
        <wsdl:part name="request" element="tns:opr1_params"/>
    </wsdl:message>
    <wsdl:message name="opr1_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="SumOperation_inputMessage">
        <wsdl:part name="request" element="tns:SumOperation_params"/>
    </wsdl:message>
    <wsdl:message name="SumOperation_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerReferenceRest_ptt">
        <wsdl:operation name="opr1">
            <wsdl:input message="tns:opr1_inputMessage"/>
            <wsdl:output message="tns:opr1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SumOperation">
            <wsdl:input message="tns:SumOperation_inputMessage"/>
            <wsdl:output message="tns:SumOperation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsumerReferenceRest_ptt-binding" type="tns:ConsumerReferenceRest_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opr1">
            <soap:operation soapAction="opr1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SumOperation">
            <soap:operation soapAction="SumOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>