jdev/FristAppOSB/ConsumerApiRestProjectFinal2/Resources/ConsumerReferenceRest.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsumerReferenceRest">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/SumService_SumOperation_response" schemaLocation="../../FristAppESB/Resources/nxsd_schema1.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opr1_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest" elementFormDefault="qualified">
            <element name="SumOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/sum">
         <method name="GET" soa:wsdlOperation="SumOperation">
            <request soa:paramElement="pns:SumOperation_params" xmlns:pns="http://xmlns.oracle.com/FristAppOSB/ConsumerApiRestProjectFinal2/ConsumerReferenceRest">
               <param name="param1" style="query" soa:expression="$msg.request/pns:param1" type="xsd:string">
                  <doc title="param1">param1</doc>
               </param>
               <param name="param2" style="query" soa:expression="$msg.request/pns:param2" type="xsd:string">
                  <doc title="param2">param2</doc>
               </param>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/SumService_SumOperation_response"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
