jdev/BPELExampleWithSOAPApp/CallExternalAPI/SOA/WADLs/CallExternalCaculateAPI.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="CallExternalCaculateAPI">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/CallExternalCaculateAPI_CallOperation_response" schemaLocation="../Schemas/desc_resp_external_api.xsd"/>
        </xsd:schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/CallExternalAPI/CallExternalCaculateAPI" elementFormDefault="qualified">
            <element name="CallOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/sum">
         <method name="GET" soa:wsdlOperation="CallOperation">
            <request soa:paramElement="pns:CallOperation_params" xmlns:pns="http://xmlns.oracle.com/BPELExampleWithSOAPApp/CallExternalAPI/CallExternalCaculateAPI">
               <param name="param1" style="query" soa:expression="$msg.request/pns:param1" type="xsd:string"/>
               <param name="param2" style="query" soa:expression="$msg.request/pns:param2" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Root-Element" xmlns:cns="http://TargetNamespace.com/CallExternalCaculateAPI_CallOperation_response"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
