jdev/CallExternalServiceApplication/MappingRespExternalServiceByXqueryFile/Resources/ConsumerRestReference.wsdl

<wsdl:definitions name="ConsumerRestReference" targetNamespace="http://xmlns.oracle.com/CallExternalServiceApplication/MappingRespExternalServiceByXqueryFile/ConsumerRestReference" xmlns:tns="http://xmlns.oracle.com/CallExternalServiceApplication/MappingRespExternalServiceByXqueryFile/ConsumerRestReference" xmlns:inp1="http://TargetNamespace.com/ConsumerRestReference_ConsumerOprSum1_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ConsumerRestReference">
        <plnk:role name="ConsumerRestReferenceProvider" portType="tns:ConsumerRestReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ConsumerRestReference_ConsumerOprSum1_response" schemaLocation="external-service-desc-resp.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/CallExternalServiceApplication/MappingRespExternalServiceByXqueryFile/ConsumerRestReference" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="ConsumerOprSum1_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="ConsumerOprSum1_inputMessage">
        <wsdl:part name="request" element="tns:ConsumerOprSum1_params"/>
    </wsdl:message>
    <wsdl:message name="ConsumerOprSum1_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerRestReference_ptt">
        <wsdl:operation name="ConsumerOprSum1">
            <wsdl:input message="tns:ConsumerOprSum1_inputMessage"/>
            <wsdl:output message="tns:ConsumerOprSum1_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsumerRestReference_ptt-binding" type="tns:ConsumerRestReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConsumerOprSum1">
            <soap:operation soapAction="ConsumerOprSum1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>