jdev/FristAppOSB/FristAppESB/Resources/SumService.wsdl

<wsdl:definitions name="SumService" targetNamespace="http://xmlns.oracle.com/FristAppOSB/FristAppESB/SumService" xmlns:tns="http://xmlns.oracle.com/FristAppOSB/FristAppESB/SumService" xmlns:inp1="http://TargetNamespace.com/SumService_SumOperation_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://TargetNamespace.com/SumService_ConcatOperation_request" xmlns:inp3="http://TargetNamespace.com/SumService_ConcatOperation_response">
    <plnk:partnerLinkType name="SumService">
        <plnk:role name="SumServiceProvider" portType="tns:SumService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/SumService_SumOperation_response" schemaLocation="nxsd_schema1.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/FristAppOSB/FristAppESB/SumService" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="SumOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/SumService_ConcatOperation_request" schemaLocation="concatstring_request.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/SumService_ConcatOperation_response" schemaLocation="concatstring_resp.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SumOperation_inputMessage">
        <wsdl:part name="request" element="tns:SumOperation_params"/>
    </wsdl:message>
    <wsdl:message name="SumOperation_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="ConcatOperation_inputMessage">
        <wsdl:part name="request" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="ConcatOperation_outputMessage">
        <wsdl:part name="reply" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="SumService_ptt">
        <wsdl:operation name="SumOperation">
            <wsdl:input message="tns:SumOperation_inputMessage"/>
            <wsdl:output message="tns:SumOperation_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConcatOperation">
            <wsdl:input message="tns:ConcatOperation_inputMessage"/>
            <wsdl:output message="tns:ConcatOperation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SumService_ptt-binding" type="tns:SumService_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SumOperation">
            <soap:operation soapAction="SumOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConcatOperation">
            <soap:operation soapAction="ConcatOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>