jdev/Case3part1App/Case3Part1Proj/Resources/RestServiceCase3Part1.wsdl

<wsdl:definitions name="RestServiceCase3Part1" targetNamespace="http://xmlns.oracle.com/Case3part1App/Case3Part1Proj/RestServiceCase3Part1" xmlns:tns="http://xmlns.oracle.com/Case3part1App/Case3Part1Proj/RestServiceCase3Part1" xmlns:inp1="http://TargetNamespace.com/RestServiceCase3Part1_Operation1_request" xmlns:inp2="http://TargetNamespace.com/RestServiceCase3Part1_Sum_opr_response" xmlns:inp3="http://TargetNamespace.com/RestServiceCase3Part1_DoubleOpr_request" xmlns:inp4="http://TargetNamespace.com/RestServiceCase3Part1_DoubleOpr_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="RestServiceCase3Part1">
        <plnk:role name="RestServiceCase3Part1Provider" portType="tns:RestServiceCase3Part1_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceCase3Part1_Operation1_request" schemaLocation="sum_opr_req_desc.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceCase3Part1_Sum_opr_response" schemaLocation="sum_opr_resp_desc.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceCase3Part1_DoubleOpr_request" schemaLocation="double_opr_req_desc.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestServiceCase3Part1_DoubleOpr_response" schemaLocation="double_opr_resp_desc.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Sum_opr_inputMessage">
        <wsdl:part name="request" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="Sum_opr_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="DoubleOpr_inputMessage">
        <wsdl:part name="request" element="inp3:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="DoubleOpr_outputMessage">
        <wsdl:part name="reply" element="inp4:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="RestServiceCase3Part1_ptt">
        <wsdl:operation name="Sum_opr">
            <wsdl:input message="tns:Sum_opr_inputMessage"/>
            <wsdl:output message="tns:Sum_opr_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DoubleOpr">
            <wsdl:input message="tns:DoubleOpr_inputMessage"/>
            <wsdl:output message="tns:DoubleOpr_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestServiceCase3Part1_ptt-binding" type="tns:RestServiceCase3Part1_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Sum_opr">
            <soap:operation soapAction="Sum_opr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DoubleOpr">
            <soap:operation soapAction="DoubleOpr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>