jdev/FristAppOSB/ConsumerAPIProjectFinal/Resources/FirstAPIESBReference.wsdl

<wsdl:definitions name="FirstAPIESBReference" targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerAPIProjectFinal/FirstAPIESBReference" xmlns:tns="http://xmlns.oracle.com/FristAppOSB/ConsumerAPIProjectFinal/FirstAPIESBReference" xmlns:inp1="http://TargetNamespace.com/FirstAPIESBReference_FirstAPIESBOpr_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="FirstAPIESBReference">
        <plnk:role name="FirstAPIESBReferenceProvider" portType="tns:FirstAPIESBReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/FirstAPIESBReference_FirstAPIESBOpr_response" schemaLocation="desc_response_first_api_ref.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerAPIProjectFinal/FirstAPIESBReference" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="FirstAPIESBOpr_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="FirstAPIESBOpr_inputMessage">
        <wsdl:part name="request" element="tns:FirstAPIESBOpr_params"/>
    </wsdl:message>
    <wsdl:message name="FirstAPIESBOpr_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="FirstAPIESBReference_ptt">
        <wsdl:operation name="FirstAPIESBOpr">
            <wsdl:input message="tns:FirstAPIESBOpr_inputMessage"/>
            <wsdl:output message="tns:FirstAPIESBOpr_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FirstAPIESBReference_ptt-binding" type="tns:FirstAPIESBReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FirstAPIESBOpr">
            <soap:operation soapAction="FirstAPIESBOpr"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>