jdev/FristAppOSB/ConsumerAPI/Resources/Api2.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="Api2">RestReference</doc>
   <resources>
      <resource path="/sum">
         <method name="GET" soa:name="SumMethod">
            <request>
               <param name="param1" style="query" type="xsd:string">
                  <doc title="param1">param1</doc>
               </param>
               <param name="param2" style="query" type="xsd:string">
                  <doc title="param2">param2</doc>
               </param>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
   </resources>
</application>
