jdev/BPELExampleWithSOAPApp/UseXSLT2Mapping/SOA/WSDLs/ExposeRestServiceCal.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ExposeRestServiceCal"
     targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/UseXSLT2Mapping/ExposeRestServiceCal"
     xmlns:tns="http://xmlns.oracle.com/BPELExampleWithSOAPApp/UseXSLT2Mapping/ExposeRestServiceCal"
     xmlns:inp1="http://TargetNamespace.com/ExposeRestServiceCal_Operation1_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="ExposeRestServiceCal">
        <plnk:role name="ExposeRestServiceCalProvider" portType="tns:ExposeRestServiceCal_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ExposeRestServiceCal_Operation1_response"
                 schemaLocation="../Schemas/desc_expose_service_resp.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/UseXSLT2Mapping/ExposeRestServiceCal"
             elementFormDefault="qualified">
            <element name="Operation1_params">
                <complexType>
                    <sequence>
                        <element name="numb1" type="string"/>
                        <element name="numb2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="tns:Operation1_params"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ExposeRestServiceCal_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
