jdev/BPELExampleWithSOAPApp/UseXSLT2Mapping/SOA/WSDLs/RestReference.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="RestReference"
     targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/UseXSLT2Mapping/RestReference"
     xmlns:tns="http://xmlns.oracle.com/BPELExampleWithSOAPApp/UseXSLT2Mapping/RestReference"
     xmlns:inp1="http://TargetNamespace.com/RestReference_SumOpr_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="RestReference">
        <plnk:role name="RestReferenceProvider" portType="tns:RestReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/RestReference_SumOpr_response" schemaLocation="../Schemas/desc_external_api_resp.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/BPELExampleWithSOAPApp/UseXSLT2Mapping/RestReference"
             elementFormDefault="qualified">
            <element name="SumOpr_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="SumOpr_inputMessage">
        <wsdl:part name="request" element="tns:SumOpr_params"/>
    </wsdl:message>
    <wsdl:message name="SumOpr_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="RestReference_ptt">
        <wsdl:operation name="SumOpr">
            <wsdl:input message="tns:SumOpr_inputMessage"/>
            <wsdl:output message="tns:SumOpr_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
