jdev/FristAppOSB/ConsumerTest3/Resources/ConsumerAPIReference.wsdl

<wsdl:definitions name="ConsumerAPIReference" targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerTest3/ConsumerAPIReference" xmlns:tns="http://xmlns.oracle.com/FristAppOSB/ConsumerTest3/ConsumerAPIReference" xmlns:inp1="http://TargetNamespace.com/ConsumerAPIReference_SumOperation_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="ConsumerAPIReference">
        <plnk:role name="ConsumerAPIReferenceProvider" portType="tns:ConsumerAPIReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ConsumerAPIReference_SumOperation_response" schemaLocation="desc_consumer_resp.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/FristAppOSB/ConsumerTest3/ConsumerAPIReference" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="SumOperation_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                        <element name="param2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="SumOperation_inputMessage">
        <wsdl:part name="request" element="tns:SumOperation_params"/>
    </wsdl:message>
    <wsdl:message name="SumOperation_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="ConsumerAPIReference_ptt">
        <wsdl:operation name="SumOperation">
            <wsdl:input message="tns:SumOperation_inputMessage"/>
            <wsdl:output message="tns:SumOperation_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsumerAPIReference_ptt-binding" type="tns:ConsumerAPIReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SumOperation">
            <soap:operation soapAction="SumOperation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>